@btnDefault:#555;
@btnBlue:#2d89f0;
@btnGreen:#009216;
@btnYellow:#ffbc1d;
@btnOrange:#db562e;
@btnDefaultColor:#fff;

.btn {
  display: inline-block;
  margin: .7em 0;
  padding: .5em 1.2em;
  text-decoration: none;
  font-size: 14px;
  background-color: @btnDefault;
  color: @btnDefaultColor;
  cursor: pointer
}
.btn:hover {
  background: @btnDefault*1.2;
}
.btn:active, .btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-blue {
  background: @btnBlue
}
.btn-blue:hover {
  background: @btnBlue*1.2;
}

.btn-green {
  background: @btnGreen;
}
.btn-green:hover {
  background: @btnGreen*1.2;
}

.btn-yellow {
  background: @btnYellow;
}
.btn-yellow:hover {
  background: @btnYellow*1.1;
}

.btn-orange {
  background: @btnOrange;
}
.btn-orange:hover {
  background: @btnOrange*1.1;
}
