.clear {
  clear: both;
}
.row {
  margin-left: -@columnIndent;
  margin-bottom: @defaultIndent;
}
.row:after {
  display: block;
  content: "";
  clear: both;
}
[class*="column"] {
  display: block;
  float: left;
  min-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: @columnIndent;
}
.column1 {width: 8.33%-@columnIndent;}
.column2 {width: 8.33%*2-@columnIndent;}
.column3 {width: 8.33%*3-@columnIndent;}
.column4 {width: 8.33%*4-@columnIndent;}
.column5 {width: 8.33%*5-@columnIndent;}
.column6 {width: 8.33%*6-@columnIndent;}
.column7 {width: 8.33%*7-@columnIndent;}
.column8 {width: 8.33%*8-@columnIndent;}
.column9 {width: 8.33%*9-@columnIndent;}
.column10 {width: 8.33%*10-@columnIndent;}
.column11 {width: 8.33%*11-@columnIndent;}
.column12 {width: 8.33%*12-@columnIndent;}

.margin1 {margin-right: 8.33%;}
.margin2 {margin-right: 8.33%*2;}
.margin3 {margin-right: 8.33%*3;}
.margin4 {margin-right: 8.33%*4;}
.margin5 {margin-right: 8.33%*5;}
.margin6 {margin-right: 8.33%*6;}
.margin7 {margin-right: 8.33%*7;}
.margin8 {margin-right: 8.33%*8;}
.margin9 {margin-right: 8.33%*9;}
.margin10 {margin-right: 8.33%*10;}
.margin11 {margin-right: 8.33%*11;}
.margin12 {margin-right: 8.33%*12;}

